.app-header {
  background-color: $dark-grey-color;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 80px;

  &--big-size {
    width: 140px;
  }
}

.menu {
  flex-direction: row;
  display: flex;
  text-transform: uppercase;
  word-break: break-word;

  &__item {
    color: $light-grey;
    padding: 0 1.6rem;
    text-align: center;

    &.dropdown {
      color: #DFDFDF;
    }
  }
}

.links__search,
.links__share {
  color: $light-grey;
}