.products {
  &__separator {
    width: 35%;
  }

  &__header {
    align-self: center;
  }

  &__title {
    color: $white-color;
    font-size: 5rem;
    margin: 0;
    font-weight: 100;
    word-break: break-word;
  }
}

.product {
  color: $white-color;

  &__item {
    height: 100%;
  }

  &__text {
    font-weight: 100;
    color: $dirty-white-color;
    margin: 10px 0 25px 0;

    &--bold {
      color: $white-color;
      font-weight: 100;
      margin-top: 30px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__header {
    text-align: center;
    font-weight: 100;
    margin: 2.5rem 0;
    font-size: 1.8rem;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}

.btn--learn-more {
  align-self: flex-start;
  border: 1px solid $white-color;
  border-radius: 5px;
  color: $white-color;
  padding: 10px 25px;
}
