$white-color: #fff;
$dirty-white-color: #bed0eb;
$light-grey: #969697;
$light-cocoa-color: rgb(157, 157, 157);
$cocoa-color: rgb(102, 102, 102);
$dark-grey-color: #474758;
$black-color: #000;

$light-blue-color: rgb(60, 171, 255);
$blue-color: #4C7EC9;